<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="admin/css/sb-admin.css" rel="stylesheet">

    <script src="/./js/angular.min.js" type="text/javascript"></script>
    <script src="/./js/jquery-3.2.0.js" type="text/javascript"></script>
    <script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/./js/angular-animate.js" type="text/javascript"></script>
    <script src="/./js/angular-touch.js" type="text/javascript"></script>
    <script src="/./js/ui-bootstrap-tpls-0.12.0.min.js" type="text/javascript"></script>
    <!-- custom css and js -->
    <script src="js/register.js"></script>

  </head>

  <body class="bg-info" ng-app="register">

    <div class="container"  ng-controller="registerController as registerController">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
          <form name="form" role="form" ng-submit="registerController.register()" >
            <div class="form-group" ng-class="{ 'has-error': form.userID.$error.required} " >
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="userID" name="userID" ng-model="registerController.userID" class="form-control" placeholder="User ID" required="required" autofocus="autofocus">
                    <label for="userID">UserID</label>
                    <span ng-show="form.userID.$dirty && form.userID.$error.required" class="help-block">UserID is required</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.firstName.$error.required && form.lastName.$error.required} " >
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="firstName" name="firstName" ng-model="registerController.firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                    <label for="firstName">First name</label>
                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="lastName" name="lastName" ng-model="registerController.lastName"  class="form-control" placeholder="Last name" required="required">
                    <label for="lastName">Last name</label>
                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>

                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group" ng-class="{ 'has-error':form.email.$error.required} ">
                <input type="email" id="inputEmail" name="email" ng-model="registerController.userEmail" class="form-control" placeholder="Email address" required="required">
                <label for="inputEmail">Email address</label>
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>

              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.inputPassword.$dirty  && form.inputPassword.$error.required && form.confirmPassword.$error.required} ">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" id="inputPassword"  name="inputPassword" ng-model="registerController.inputPassword"  class="form-control" placeholder="Password" required="required">
                    <label for="inputPassword">Password</label>
                    <span ng-show="form.inputPassword.$dirty && form.inputPassword.$error.required" class="help-block">Password is required</span>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" id="confirmPassword" name="confirmPassword" ng-model="registerController.confirmPassword"   class="form-control" placeholder="Confirm password" required="required">
                    <label for="confirmPassword">Confirm password</label>
                    <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Password is required</span>

                  </div>
                </div>
              </div>
            </div>
            <!--<a class="btn btn-primary btn-block" type="submit" ng-disabled="form.$invalid" href="#">Register</a>-->
            <div class="form-actions">
              <button type="submit"
                      class="btn btn-primary">Register
              </button>

            </div>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="login.html">Login Page</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="admin/vendor/jquery/jquery.min.js"></script>
    <script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
