<!doctype html>
<html>
<head>
    <title>Admin</title>
    <!-- bootstrap - angular -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/ui-grid.min.css" rel="stylesheet">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-animate.js" type="text/javascript"></script>
    <script src="js/angular-touch.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.0.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js" type="text/javascript"></script>
    <script src="js/ui-grid.min.js" type="text/javascript"></script>
    <!-- custom css and js -->
    <link href="css/main.css" rel="stylesheet">
    <script src="js/hello.js"></script>

</head>

<body ng-app="admin">
<div class="container">
    <h1>Admin page</h1>
    <div ng-controller="adminController">
        Add a new question: <input type="checkbox" ng-model="addQuestion" aria-label="Toggle ngShow" ng-click="setQuestion()">
        Show all questions: <input type="checkbox" ng-model="seeQuestion" aria-label="Toggle ngShow" ng-click="getQuestions()">
        </br>
        <div class="check-element funky-show-hide" ng-show="addQuestion">
        <h3>Add a question item</h3>
        <label>
            Question body:
            <input type="text" name="questionBody" ng-model="question.questionBody" required>
        </label>
        <form name="myForm" ng-repeat="counter in answerCounter">
            </br>
            <label>
                Answer {{$index}}:
                <input type="text" name="answer1" ng-model="question.answerList[$index].answerBody"
                       ng-minlength="3" ng-maxlength="10">
            </label>
            <label><input type="radio" ng-model="question.answerList[$index].isCorrect" value="true"  />Correct answer</label>
            <label><input type="radio" ng-model="question.answerList[$index].isCorrect" value="false" />Wrong answer</label>
            </br>
        </form>
        <button ng-click="myFunc()">ADD</button>
        <pre>JSON = {{question | json}}</pre>
        </div>

        <div class="check-element funky-show-hide" ng-show="seeQuestion">
        <h3>See all question items</h3>
        <!--TODO get all questions here-->
        <!--<div class="gridStyle" ui-grid="question" ui-grid-edit></div>-->
        <div ui-grid="questionsGrid" ui-grid-edit class="grid"></div>
    </div>
    </div>
</div>

</body>

</html>